[submodule "yelan"]
	path = yelan
	url = https://github.com/seriaati/yelan
[submodule "GGanalysislib"]
	path = GGanalysislib
	url = https://github.com/OneBST/GGanalysis
[submodule "hoyolab_rss_feeds"]
	path = hoyolab_rss_feeds
	url = https://github.com/seriaati/hoyolab_rss_feeds
[submodule "shenhe_external"]
	path = shenhe_external
	url = https://github.com/seriaati/shenhe_external
[submodule "hmtai_async"]
	path = hmtai_async
	url = https://github.com/seriaati/hmtai_async
