[submodule "yelan"]
	path = yelan
	url = https://github.com/seriaati/yelan
[submodule "shenhe_external"]
	path = shenhe_external
	url = https://github.com/seriaati/shenhe_external
[submodule "GenshinData"]
	path = GenshinData
	url = https://github.com/Dimbreath/GenshinData
[submodule "API-docs"]
	path = API-docs
	url = https://github.com/EnkaNetwork/API-docs
[submodule "HSRMaps"]
	path = HSRMaps
	url = https://github.com/FortOfFans/HSRMaps
