[submodule "yelan"]
	path = yelan
	url = https://github.com/seriaati/yelan
[submodule "GGanalysislib"]
	path = GGanalysislib
	url = https://github.com/OneBST/GGanalysis
[submodule "hoyolab-rss-feeds"]
	path = hoyolab-rss-feeds
	url = https://github.com/c3kay/hoyolab-rss-feeds
