aiofiles==23.1.0
aiohttp==3.8.4
aioimgur==0.1.1
asqlite @ git+https://github.com/Rapptz/asqlite
asyncpg==0.27.0
attrs==23.1.0
cachetools==5.3.0
discord-ext-prometheus @ git+https://github.com/Apollo-Roboto/discord.py-ext-prometheus
discord.py==2.2.3
diskcache==5.6.1
enkanetwork.py @ git+https://github.com/mrwan200/EnkaNetwork.py
fontTools==4.39.4
genshin @ git+https://github.com/thesadru/genshin.py
GGanalysis @ git+https://github.com/OneBST/GGanalysis
hoyolab_rss_feeds==2.1.1
hutao-login-gateway @ git+https://github.com/Hu-tao-bot/login-service-library-python
jishaku==2.5.1
matplotlib==3.7.1
mystbin-py==5.1.0
Pillow==9.5.0
psutil==5.9.5
pydantic==1.10.8
pygit2==1.12.1
pyppeteer==1.0.2
python-dotenv==1.0.0
python_dateutil==2.8.2
PyYAML==6.0
sentry_sdk==1.23.0
topggpy==1.4.0