aiohttp==3.8.3
aiosqlite==0.17.0
discord.py==2.0.1
enkanetwork.py==1.2.10
genshin @ git+https://github.com/thesadru/genshin.py
hmtai==3.2.0
matplotlib==3.6.1
numpy==1.23.4
Pillow==9.2.0
pydantic==1.10.2
pyppeteer==1.0.2
python-dotenv==0.21.0
python_dateutil==2.8.2
PyYAML==6.0
sentry_sdk==1.9.10
waifuim.py==3.2.6
jishaku @ git+https://github.com/Gorialis/jishaku
cachetools==5.2.0